%crumb-tail{
    background: inherit;
    content: '';
    top: 0;
    position: absolute;
    transform: skewX( -10.5deg );
    transform-style: preserve-3d;
    width: $size-base * 2;
    height: 100%;
    z-index: -1;
}

.breadcrumbs{
    @extend %font-cabin-condensed;
    $tail-offset: 10px;
    $tail-margin: 2.2rem;

    .crumb{
        display: inline-block;
        position: relative;

        padding: $size-padding-small 0 $size-padding-small $size-padding-normal;
        margin-right: $tail-margin;

        background-color: $color-splash;
        color: $color-normal-background;

        .dropdown{
            padding-left: $size-padding-small;
        }

        .dropdown-list{
            position: absolute;
            background-color: inherit;
            padding: $size-padding-small;
            right: -( $tail-offset * 0.8 );
            z-index: 1;

            li{
                padding: $size-padding-small;
            }
        }

        &:not(:first-child){
            padding: $size-padding-small 0;

            &::before{
                @extend %crumb-tail;

                left: -( $tail-offset );
            }
        }

        &:last-child{
            background-color: $color-splash-dark;
        }
        &:nth-last-child(2){
            background-color: $color-splash-mid;
        }

        &::after{
            @extend %crumb-tail;

            right: -( $tail-offset );
        }
    }
}
