div.tabs{
    > ul{
        @extend .clear;

        border-bottom: 1px solid $color-subtle-mid;

        li{
            float: left;
            position: relative;

            cursor: pointer;

            border: 1px solid $color-subtle-mid;
            border-bottom: 0;
            border-top-left-radius: $size-radius-default;
            border-top-right-radius: $size-radius-default;

            padding: $size-padding-xs $size-padding-normal;

            &.active{
                &::after{
                    content: "";

                    position: absolute;

                    left: 0;
                    top: 100%;

                    width: 100%;
                    height: 1px;

                    background-color: $color-brightest;
                }
            }

            &:hover{
                background-color: $color-subtle-mid;
            }

            + li{
                border-left: 0;
            }
        }
    }

    &.vertical{
        @extend .clear;

        > ul{
            float: left;

            border: 0;

            li{
                float: none;

                border: 1px solid $color-subtle-mid;
                border-left: 0;
                border-radius: 0;

                &.active{
                    &::after{
                        top: 0;
                        left: 100%;

                        width: 1px;
                        height: 100%;
                    }
                }

                + li{
                    border-top: 0;
                }
            }
        }
    }
}
