.card{
    @extend .tc;
    $visual-identity-font-multiplier: 4;

    position: relative;
    width: $size-card-standard-width;
    height: $size-card-standard-height;
    padding: 0;

    background-color: $color-normal-background;

    box-shadow: 0 3px ( 3 * 3px ) rgba( 0, 0, 0, 0.25 );

    .visual-identity{
        $height: 0.6 * $size-card-standard-height;
        overflow: hidden;
        height: $height;
        position: relative;

        &.circle{
            border-radius: 50%;
            width: $height;
            margin: (0.5 * $size-padding-normal) auto 0;
            background-color: $color-splash;
        }

        p.identity{
            background-color: $color-subtle-dark;
            overflow: hidden;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span{
                $size-initials-text: ( $visual-identity-font-multiplier * $size-text-normal );

                color: $color-brightest;
                font-size: $size-initials-text;
                line-height: $size-initials-text;

                &.initials{
                    @extend %font-open-sans;

                    font-weight: bold;

                }
            }
        }

        .photo{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &.zoomed{
                background-size: cover;
            }
        }
    }

    .info{
        h3{
            padding: 0;
        }

        .indicators{
            $size-indicators-padding: 0.5 * $size-padding-normal;

            @extend .clear;

            font-size: $size-text-large;

            width: 100%;
            padding: $size-indicators-padding $size-indicators-padding 0 $size-indicators-padding;
        }
    }

    div.controls{
        position: absolute;
        bottom: 0;
        left: 0;

        input[type="checkbox"]{
            margin-top: 0;
            margin-right: 0;
        }
    }

    &.student,
    &.teacher{
        p.identity{
            background-color: $color-splash-mid;
        }
    }

    &.student{
        display: block;
        width: $size-card-standard-width;
    }

    &.teacher{
        width: $size-card-teacher-width;
    }

    &.active{
        color: $color-brightest;
        background-color: $color-subtle-dark;

        &:hover{
            background-color: $color-subtle-dark;
        }
    }

    &:hover{
        background-color: $color-subtle;
    }
}
