<div class="mini class card pointer buffer">
    <div class="visual-identity">
        <p class="identity">
            <span class="fa fa-fw fa-book"></span>
        </p>
    </div>
    <div class="info">
        <h3 class="name"></h3>
    </div>
</div>
